


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <button class="full-width margin-t" mat-raised-button color="primary" routerLink="/register">Register</button>
      <button class="full-width margin-t" mat-raised-button color="accent" routerLink="/registerUserList">Register User List</button>
      <ul>
	 <li *ngFor="let item of persondata;">
	 	{{ item.name }}
	 </li>
	</ul>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
