<div class="row">
	<div class="col-md-6">
      <h4>Register Here</h4>
      <mat-card>
        <form>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Full Name" type="text" required >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email ID" type="email" required >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" required >
          </mat-form-field>
          <mat-radio-group aria-label="Select Gendar" required>
            <label style="padding-right:20px;">Gender:</label>
            <mat-radio-button value="male" style="margin-right:10px;">Male</mat-radio-button>
            <mat-radio-button value="female">Fe-male</mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
            <input matInput placeholder="Phone Number" type="numer" required >
          </mat-form-field>          
          <mat-form-field >
            <mat-select placeholder="Select City" >
              <mat-option value="ghaziabad">Ghaziabad</mat-option>
              <mat-option value="delhi">Delhi</mat-option>
              <mat-option value="noida">Noida</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary">Submit</button>
        </div>
        </form>
      </mat-card>
</div>
</div>
