<div class="row">
  <div class="col-md-4">
    <!-- Exapmles of data binding -->
    <p>Uppercase Pipe
      <b>{{title | uppercase}}</b></p>
    <p>Lowercase Pipe
      <b>{{title | lowercase}}</b></p>
    <p>Currency Pipe
      <b>{{6589.23 | currency:"USD"}}</b></p>
    <p>Date pipe Date
      <b>{{todaydate | date:'d/M/y'}}</b></p>
    <p>Date pipe Time
      <b>{{todaydate | date:'shortTime'}}</b></p>
    <p>Decimal Pipe
      <b>{{ 454.78787814 | number: '3.4-4' }}</b></p>
  </div>
  <div class="col-md-6">
    <mat-card>
      <form>
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Select City" (selectionChange)="changecity($event)">
              <mat-option *ngFor="let i of city"> {{i}} </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <span *ngIf="isavailable; then condition1 else condition2">Condition is
              valid.</span>
            <ng-template #condition1>Condition is valid</ng-template>
            <ng-template #condition2>Condition is invalid</ng-template>
          </div>
          <select (change)="changecity($event)">
            <option *ngFor="let i of city">{{i}}</option>
          </select>
        </div>
        <!-- Exapmles of Event binding -->
        <button mat-raised-button color="primary" (click)="firstclick($event)">Save</button>
      </form>
    </mat-card>
  </div>
</div>
